* {
    box-sizing: border-box;
    margin: 0;
  }

body {
    display: block;
    margin: 20px;
    border-style: solid;
    height: 91vh;
}

.container {
  text-align: center;
}

.container .header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  vertical-align: middle;
}

.header img {
  vertical-align: middle;
  margin: 0;
}

.header h1 {
    text-align: center;
    font-style: italic;
    color: blue;
    font-size: 2em;
    /* margin-top: 5px; */
}

div.menu {
  display: flex;
  vertical-align: middle;
  width: auto;
  align-items: center;
  justify-content: center;
}

ul {
    list-style-type: none;
}

li {
  padding: 2px;
  display: list-item;
}

a.btn.btn-primary {
  display: flex;
  vertical-align: middle;
  color: blue;
  padding: 8px;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  text-decoration: none;
}

a {
  border: 1px solid black;
  font-style: italic;
  text-decoration: none;
  padding: 5px;
  color: blue;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  margin-left: 6%;
  vertical-align: middle;
}

#plus {
  border: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.container-read {
  text-align: center;
  padding: 100px;
  letter-spacing: 1px;
  line-height: 1.6;
  font-size: larger;
}

.container-read .read ul {
  padding: 0;
}

#read {
  justify-content: center;
  border-radius: 10px;
  background: blue;
  color: white;
  margin-left: 46%;
}

#form-add {
  background: blue;
  color: white;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  margin-inline-start: -39em;

}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  display: inline;
  margin-block-start: 1em;
}

input {
  text-align: center;
  padding: 5px;
  letter-spacing: 1px;
  font-style: italic;
  font-size: 25px;
  margin-inline-start: -8em;
  margin-inline-end: -8em;
}

textarea {
  text-align: center;
  width: 90%;
  padding: 15px;
  font-style: italic;
  height: 60vh;
  font-size: 25px;
}