* {
    box-sizing: border-box;
    margin: 0;
  }

body {
    display: block;
    margin: 20px;
    border-style: solid;
    height: 92vh;
}

.container {
  text-align: center;
}

.container .header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
  vertical-align: middle;
}

.header img {
  vertical-align: middle;
  margin: 0;
}

.header h1 {
    text-align: center;
    font-style: italic;
    color: blue;
    font-size: 2em;
    margin-top: 5px;
}

div.menu {
  display: flex;
  vertical-align: middle;
  width: auto;
  align-items: center;
  justify-content: center;
}

ul {
    list-style-type: none;
}

li {
  padding: 5px;
  display: list-item;
}

a.btn.btn-primary {
  display: flex;
  vertical-align: middle;
  color: blue;
  padding: 8px;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}

a {
  border: 1px solid black;
  font-style: italic;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px;
  margin-left: 10%;
  vertical-align: middle;
}

#plus {
  border: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.container-read {
  text-align: center;
  padding: 100px;
  letter-spacing: 1px;
  line-height: 1.6;
  font-size: larger;
}

.container-read .read ul {
  padding: 0;
}

#read {
  justify-content: center;
  border-radius: 10px;
  background: blue;
  color: white;
  margin-left: 46%;
}

#form-add {
  background: blue;
  color: white;
  border-radius: 10px;
  padding: 15px;
  font-size: 25px;
}

form {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
  line-height: 1.6;
  height: 600px;
}

input {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 5px;
  letter-spacing: 2px;
  line-height: 0.6;
  font-style: italic;
  font-size: 25px;
}

textarea {
  text-align: center;
  width: 100%;
  padding: 15px;
  font-style: italic;
  height: 560px;
  font-size: 25px;
}