* {
    box-sizing: border-box;
    margin: 0;
    display: block;
  }

body {
    display: block;
    margin: 20px;
    border-style: solid;
    border-width: medium;
    width: 89%;
    height: 95vh;
}

h1 {
    text-align: center;
    font-style: italic;
    color: blue;
    padding: 50px;
    font-size: 2em;
}

.menu a {
    margin-top: 7px;
    display: inline-block;
    width: 80%;
    color: rgb(17, 21, 134);
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
  padding: 5px;
}

.btn-primary {
  border-style: solid;
  margin: 0;
  line-height: 1,6;
}

a.btn.btn-primary {
  border-color: black;
  color: blue;
  padding: 8px;
  margin: 0;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  letter-spacing: 1px;
}

a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 10px;
  margin-left: 25%;
  font-style: italic;
}

img {
  display:block;
  text-align: center;
  width: 25px;
}

a#plus {
  border: none;
  margin: 0;
  padding: 0;
}

#form {
  text-decoration: none;
}