* {
    box-sizing: border-box;
    margin: 0;
  }

body {
    display: block;
    margin: 20px;
    border-style: solid;
    border-width: medium;
    width: 96%;
    height: 90vh;
}

.container {
  text-align: center;
}

.container .header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
  vertical-align: middle;
}

.header img {
  vertical-align: middle;
  margin: 0;
}

.header h1 {
    text-align: center;
    font-style: italic;
    color: blue;
    font-size: 2em;
    margin-top: 5px;
}

div.menu {
  margin-left: 33%;
}

.menu a {
    display: inline-block;
    width: 50%;
    color: rgb(17, 21, 134);
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
  padding: 5px;
}

.btn-primary {
  border-style: solid;
  margin: 0;
  line-height: 1,6;
}

a.btn.btn-primary {
  border-color: black;
  color: blue;
  padding: 8px;
  margin: 0;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  letter-spacing: 1px;
}

a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 10px;
  font-style: italic;
}

.footer {
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin-left: 50%;
}

#plus {
  border: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.container-read {
  text-align: center;
  padding: 100px;
  letter-spacing: 1px;
  line-height: 1.6;
  font-size: larger;
}

.container-read .read ul {
  padding: 0;
}

#read {
  justify-content: center;
  border-radius: 10px;
  background: blue;
  color: white;
  margin-left: 46%;
}

#form-add {
  background: blue;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

#form {
  justify-content: center;
  align-items: center;
}